{% load static %}

<div class="content--box about--content hidden">
    <div class="content--container about--container">
        <div class="img--border">
            <div class="img--about">
                <img src={% static "img/me/DSCF0704.webp" %} alt="" height="350px" class="mobile--hidden">
            </div>
        </div>
        <h2 class="content--title">About <span class='colored'>me</span> &nbsp;</h2>
        <div class="quick--info">
            <h4>
                I live in Poland &nbsp; 
                <img src={% static "img/icons/poland.png" %} alt="poland flag">
            </h4>

            <h5>I'm selftaught Web Developer who have learned everything using YouTube / Udemy tutorials and through trial and error.</h5>
            <div class="info--languages code"> 
                <span class="colored">HTML</span> 
                <span class="colored">CSS</span> 
                <span class='colored'>Python</span>
                <span class='colored'> JavaScript ES6</span> 
                <span> React</span>
            </div>
            <div class="info--languages spoken"> 
                <span class="colored">Polish - Native</span> 
                <span class="colored">English - B2</span> 
                <span>German - Basics</span> 
            </div>
            <div class="info--skills">
                <span class="colored">VSCode</span> 
                <span>Photoshop</span>
                <span class="colored">Google</span> 
                <span>Avocode</span>
                
            </div>
            
            
        </div>


        <div class="work--experience">
            <h2>My work <span>experience</span></h2>

            <div class="exp--box">
                <h2 class="exp--title">
                    InnWeb - Web Developer
                </h2>
                <h1 class="exp--time">
                    04.2019 - 05.2019
                </h1>
                <ul class="responsibilities">
                    <ul>💻 Creating new websites
                        <li>✅ Creating new pages based on design in Adobe Photoshop</li>
                        <li>✅ Creating website components using HTML | CSS | JS (jQuery) </li>          
                    </ul>
                    <ul>💻 Implementing new functions such as:
                        <li>✅ Creating new menus</li>
                        <li>✅ Adding a Google Map with a Marker to existing websites</li>
                        <li>✅ Implementation of new websites in the company's CMS system</li>
                        <li>✅ Create and implement sliders with Flex Slider 2</li>
                    </ul>
                    <ul>💻 Maintain websites
                        <li>✅ Adding new features</li>
                        <li>✅ Fixing bugs on existing websites</li>
                    </ul>
                </ul>
            
                <div class="work--projects">
                    <h4>Projects in which I participated</h4>
                    <a href="https://www.biopsje-szczecin.pl/" target="_blank"> 
                        🌐 
                        <span>
                            Biopsje Szczecin
                        </span>
                    </a>
                </div>
            </div>
            
        </div>  

        <div class="about--me">

            <div class="about--hobby">
                <h3>Things <span> I love</span> </h3>
                <div class="span--div">
                    <span class="hobby--span">Space</span>
                    <span>Astrophotography</span>
                    <span>Technology</span>
                    <span>Travel</span>

                </div>
            </div>
        
            <div class="about--plans">
                <h3><span>My</span> plans</h3>
                <p>🎯 Kepp learning Python</p>
                <p>🎯 Learn django</p>
                <p>🎯 Become Fullstack developer</p>
            </div>
        </div>
        

        <div class="menu--download mobile--show">
            <button class="btn btn--download">
                <a href={% static 'img/CV.jpg' %} download>Download CV</a>
            </button>
        </div>
    </div>
        <!-- 
            <a href="https://www.flaticon.com/free-icons/poland" title="poland icons">Poland icons created by Freepik - Flaticon</a> 
        -->
</div>