{% load static %}

<div class="content--box projects--content hidden">
    <div class="projects--container">
        <h2 class="content--title">Some of my <span>work &nbsp;</span></h2>
    </div>

    <div class="project--wrapper grid">

            <div class="project--one project--box grid">
                <img src={% static 'projects/ludzik940.github.io_Bookmark-Frontend-Mentor_.webp' %} alt="bookmark">
                <div class="project--description">
                    <div class="project--description__platform">
                        <img src={%static 'img/icons/desktop.png'%} alt="desktopicon">
                    </div>

                    <div class="project--description__text">
                        <h2>Frontend Mentor Bookmark Challenge</h2>
                        <p>Website done for Frontend Mentor challenge.</p>
                    </div>
                    
                    <div class="project--description__technology">
                        <img src={% static 'img/icons/html32.png' %} alt="html">
                        <img src={% static 'img/icons/css32.png' %} alt="css">
                        <img src={% static 'img/icons/js32.png' %} alt="js">
                    </div>

                    <div class="project--description__buttons grid">
                        <div class="btn btn--live btn--desc">
                            <a href="https://ludzik940.github.io/Bookmark-Frontend-Mentor/">Check it live</a>
                        </div>
                        <div class="btn btn--code btn--desc">
                            <a href="https://github.com/ludzik940/Bookmark-Frontend-Mentor">Check code</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project--two project--box grid">
                <img src={% static 'projects/ludzik940.github.io_Photography-website__1.webp' %} alt="bookmark">
                <div class="project--description">
                    <div class="project--description__platform">
                        <img src={% static 'img/icons/desktop.png'%} alt="desktopicon">
                        <img src={% static 'img/icons/smartphone.png' %} alt="smartphoneicon">
                    </div>

                    <div class="project--description__text">
                        <h2>Photography studio landing page</h2>
                        <p>Excercise website</p>
                    </div>
                    
                    <div class="project--description__technology">
                        <img src={% static 'img/icons/html32.png' %} alt="html">
                        <img src={% static 'img/icons/css32.png' %} alt="css">
                        <img src={% static 'img/icons/js32.png' %} alt="js">
                    </div>

                    <div class="project--description__buttons grid">
                        <div class="btn btn--live btn--desc">
                            <a href="https://ludzik940.github.io/Photography-website/">Check it live</a>
                        </div>
                        <div class="btn btn--code btn--desc">
                            <a href="https://github.com/ludzik940/Photography-website">Check code</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project--three project--box grid">
                <img src={% static 'projects/ludzik940.github.io_HomeDesign_.webp' %} alt="bookmark">
                <div class="project--description">
                    <div class="project--description__platform">
                        <img src={% static 'img/icons/desktop.png'%} alt="desktopicon">
                        <img src={% static 'img/icons/smartphone.png' %} alt="smartphoneicon">
                    </div>

                    <div class="project--description__text">
                        <h2>Home Design studio</h2>
                        <p>Excercise website</p>
                    </div>
                    
                    <div class="project--description__technology">
                        <img src={% static 'img/icons/html32.png' %} alt="html">
                        <img src={% static 'img/icons/css32.png' %} alt="css">
                        <img src={% static 'img/icons/js32.png' %} alt="js">
                    </div>

                    <div class="project--description__buttons grid">
                        <div class="btn btn--live btn--desc">
                            <a href="https://ludzik940.github.io/HomeDesign/">Check it live</a>
                        </div>
                        <div class="btn btn--code btn--desc">
                            <a href="https://github.com/ludzik940/HomeDesign">Check code</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project--four project--box grid">
                <img src={% static 'projects/www.biopsje-szczecin.pl_.webp' %} alt="biopsje szczecin">
                <div class="project--description">
                    <div class="project--description__platform">
                        <img src={% static 'img/icons/desktop.png'%} alt="desktopicon">
                    </div>

                    <div class="project--description__text">
                        <h2>Biopsje Szczecin</h2>
                        <p>Freelance for InnWeb.</p>
                    </div>
                    
                    <div class="project--description__technology">
                        <img src={% static 'img/icons/html32.png' %} alt="html">
                        <img src={% static 'img/icons/css32.png' %} alt="css">
                        <img src={% static 'img/icons/js32.png' %} alt="js">
                    </div>

                    <div class="project--description__buttons grid">
                        <div class="btn btn--live btn--desc">
                            <a href="https://www.biopsje-szczecin.pl/">Check it live</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

<!-- HTML ICON <a href="https://www.flaticon.com/free-icons/html" title="html icons">Html icons created by Freepik - Flaticon</a> -->
<!-- CSS3 ICON <a href="https://www.flaticon.com/free-icons/css" title="css icons">Css icons created by Pixel perfect - Flaticon</a> -->
<!-- JavaScript Icon <a href="https://www.flaticon.com/free-icons/javascript" title="javascript icons">Javascript icons created by Freepik - Flaticon</a> -->
<!-- Desktop icon <a href="https://www.flaticon.com/free-icons/computer" title="computer icons">Computer icons created by Freepik - Flaticon</a> -->
<!-- Smartphone Icon <a href="https://www.flaticon.com/free-icons/smartphone" title="smartphone icons">Smartphone icons created by Freepik - Flaticon</a>

CODE ICON
<a href="https://www.flaticon.com/free-icons/programming-language" title="programming language icons">Programming language icons created by Rahul Kaklotar - Flaticon</a>

GAMEPAD
<a href="https://www.flaticon.com/free-icons/gamepad" title="gamepad icons">Gamepad icons created by Nikita Golubev - Flaticon</a>


TELESCOPE
<a href="https://www.flaticon.com/free-icons/telescope" title="telescope icons">Telescope icons created by Freepik - Flaticon</a>

-->
</div>